{{#if myEvents.length}}
<div class="events-list">
{{#each myEvents as |event|}}
<div class="card m-6 events-list">
  <div class="card-image">
    <figure class="image is-256x256">
      <img src="{{image}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="media-content p-2 has-text-centered">
    <p class="title is-1 p-2">{{title}}</p>
    <p class="subtitle is-4"></p>
    <div class="content p-2">
      <time>{{format_date date}} at {{time}}</time>
      <div class="button-list">
        <button class="button has-background-warning" id="update-id" updateId="{{id}}">UPDATE</button>
        <button class="button has-background-danger"  delete-id="{{id}}" id="deleteBtn">DELETE</button>
      </div>
    </div>
  </div>
  <form id="new-event-form-{{id}}" class="is-hidden">
    <div class="columns card m-5">
        <div class="card-content column is-two-thirds is-centered">
            <p>Create an Event</p>
            <input class="card-content input is-small" id="update-image-{{id}}" type="text" placeholder="Enter a link to an image for your event">
            <input class="card-content input is-small" id="update-title-{{id}}" type="text" placeholder="Event Title">
            <input class="card-content input is-small" id="update-date-{{id}}" type="text" placeholder="Event Date">
            <input class="card-content input is-small" id="update-time-{{id}}" type="text" placeholder="Event Time">
            <input class="card-content input is-small" id="update-description-{{id}}" type="text" placeholder="Event Description">
            <input class="card-content input is-small" id="update-location-{{id}}" type="text" placeholder="Event Location">
            <input class="card-content input is-small" id="update-email-{{id}}" type="text" placeholder="Email">
            <input class="card-content input is-small" id="update-social-{{id}}" type="text" placeholder="Social">
            <button id="submit-updated-event" updateId="{{id}}">Submit</button>

        </div>
    </div>
</form>

</div>
{{/each}}

{{/if}}

<script src="/js/dashboard.js"></script>

