{{#if myEvents.length}}
<div class="events-list">
{{#each myEvents as |event|}}
<div class="card m-6 events-list">
  <div class="card-image">
    <figure class="image is-256x256">
      <img src="{{image}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="media-content p-2 has-text-centered">
    <p class="title is-1 p-1">{{title}}</p>
    <p class="subtitle is-4"></p>
    <div class="content p-1">
      <p class="description">{{description}}</p>
      <p class="upvotes">Votes: {{upvotes}}</p>
      <time>{{format_date date}} at {{time}}</time>
      <p class="location">Location: {{location}}</p>
      <div class="is-flex is-justify-content-right button-list">
        <button class="button is-small mt-3 has-background-warning" id="update-id" updateId="{{id}}">UPDATE</button>
        <button class="button is-small mt-3 ml-3 has-background-danger"  delete-id="{{id}}" id="deleteBtn">DELETE</button>
      </div>
    </div>
  </div>
  <form id="new-event-form-{{id}}" class="is-hidden ">
    <div class="columns is-centered card m-5">
        <div class="card-content column is-two-thirds text-is-centered">
            <h1 class="is-size-2 is-flex is-justify-content-center">Update your Event</h1>
            <p class="is-size-5 is-flex is-justify-content-center">Please fill out all fields</p>
            <input class="card-content input is-small" id="update-image-{{id}}" type="text" placeholder="{{image}}">
            <input class="card-content input is-small" id="update-title-{{id}}" type="text" placeholder="{{title}}">
            <input class="card-content input is-small" id="update-date-{{id}}" type="text" placeholder="{{format_date date}}">
            <input class="card-content input is-small" id="update-time-{{id}}" type="text" placeholder="{{time}}">
            <textarea class="textarea input is-small" id="update-description-{{id}}" type="text" placeholder="{{description}}"></textarea>
            <input class="card-content input is-small" id="update-location-{{id}}" type="text" placeholder="{{location}}">
            <input class="card-content input is-small" id="update-email-{{id}}" type="text" placeholder="{{email}}">
            <input class="card-content input is-small" id="update-social-{{id}}" type="text" placeholder="{{social}}">
            <button class="button is-small is-success mt-2" id="submit-updated-event" updateId="{{id}}">Submit Update</button>

        </div>
    </div>
</form>

</div>
{{/each}}

{{/if}}

<script src="/js/dashboard.js"></script>

