<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{image}}" alt="Placeholder image">
    </figure>
  </div>
      <div class="media-content">
        <p class="title is-4">{{user.username}}</p>
        <p class="subtitle is-6">{{social}}</p>
        <p class="subtitle is-6">{{email}}</p>
      </div>
    </div>

    <div class="content">
      {{description}}
      <br>
      <time datetime="2016-1-1">{{location}} at {{date}}-{{time}}</time>
    </div>
  </div>
</div>
