{{#each events as |event|}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{image}}" alt="event image">
  <div class="card-body">
    <h5 class="card-title">{{title}}{{date}}{{time}}{{location}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="/events/{{id}}" class="btn btn-primary"></a>
  </div>
</div>
{{/each}}