{{#each events as |event|}}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{image}}" alt="Placeholder image">
    </figure>
  </div>
      <div class="media-content">
        <p class="title is-4">{{title}}</p>
        <p class="subtitle is-6">{{date}}{{time}}</p>
      </div>
    </div>

    <div class="content">
      <a href="/events/{{id}}">More info</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
{{/each}}